{% extends "layout/base-layout.html.twig" %}

{% import "AvanzuAdminThemeBundle:layout:macros.html.twig" as macro %}
{% form_theme form 'AdminUserBundle:Form:bootstrap_3_layout.html.twig' %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Colocation'}, 'admin') }} - {{ parent() }}{% endblock %}

{% block page_content %}
    <h1>{{ '%entity% creation'|trans({'%entity%': 'Colocation'}, 'admin') }}</h1>

    {{ form_start(form, {action: path('admin_colocation_create')}) }}
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">{{ 'Create'|trans({}, 'admin') }}</button>
        </p>
    {{ form_end(form) }}

        
        <div class="btn-group record_actions">

            <a class="btn btn-info" href="{{ path('admin_colocation') }}">
                <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
            </a>


        </div>


{% endblock %}
