<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from thunder-team.com/friend-finder/timeline.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 18 Mar 2018 18:02:33 GMT -->
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is social network html5 template available in themeforest......"/>
    <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page"/>
    <meta name="robots" content="index, follow"/>
    <title>My Timeline | This is My Coolest Profile</title>

    <!-- Stylesheets
    ================================================= -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}"/>
    <link href="{{ asset('css/emoji.css') }}" rel="stylesheet">

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="{{ asset('images/fav.png') }}"/>
</head>
<body>

<!-- Header
================================================= -->
<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ asset('index-register.html') }}"><img
                            src="{{ asset('images/logo.png') }}" alt="logo"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right main-menu">
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Espace Educatif <span><img
                                        src="{{ asset('images/down-arrow.png') }}" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">


                            <li><a href="{{ path('educ_affichage') }}">Espace Educatif affichage</a></li>
                            <li><a href="{{ path('educ_homepage') }}">Espace Educatif ajout</a></li>

                        </ul>

                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Evenement <span><img
                                        src="{{ asset('images/down-arrow.png') }}" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">


                            <li><a href="{{ path('evenement_index') }}">Consulter evenements</a></li>
                            <li><a href="{{ path('evenement_new') }}">Ajouter un Evenement</a></li>

                        </ul>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Covoiturage <span><img
                                        src="{{ asset('images/down-arrow.png') }}" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">


                            <li><a href="{{ path('covoiturage_index') }}">Consulter Covoiturages</a></li>
                            <li><a href="{{ path('covoiturage_new') }}">Ajouter un Covoiturage</a></li>

                        </ul>

                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Colocation <span><img
                                        src="{{ asset('images/down-arrow.png') }}" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">


                            <li><a href="#">Consulter Clocations</a></li>
                            <li><a href="#">Ajouter une colocation</a></li>

                        </ul>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false"> Réclamations<span><img
                                        src="{{ asset('images/down-arrow.png') }}" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">


                            <li><a href="{{ path('reclamation_homepage') }}">Consulter réclamations</a></li>
                            <li><a href="{{ path('reclamation_new') }}">Ajouter une réclamation</a></li>

                        </ul>

                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false"> FAQ <span><img
                                        src="{{ asset('images/down-arrow.png') }}" alt=""/></span></a>
                        <ul class="dropdown-menu newsfeed-home">


                            <li><a href="{{ path('faq_homepage') }}">Consulter FAQ</a></li>
                            <li><a href="{{ path('admin_faq_new') }}">Ajouter une question</a></li>

                        </ul>




                        <form class="navbar-form navbar-right hidden-sm">
                            <div class="form-group">
                                <i class="icon ion-android-search"></i>
                                <input type="text" class="form-control" placeholder="Search friends, photos, videos">
                            </div>
                        </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
<!--Header End-->



{% block body %}{% endblock %}



<!--preloader-->
<div id="spinner-wrapper">
    <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.sticky-kit.min.js') }}"></script>
<script src="{{ asset('js/jquery.scrollbar.min.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>

